@page "/covid"
@using CovidDashboard.Shared
@inject HttpClient Http
@using Syncfusion.Blazor.Charts

<h1>Covid Data</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (usStatus == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>Negative Cases: @usStatus.Negative</p>
}

@code {
    private USStatus usStatus;
    private List<DailyStatus> dailyStatuses;

    protected override async Task OnInitializedAsync()
    {
        usStatus = await Http.GetFromJsonAsync<USStatus>("api/Covid/GetCurrentUSStats");
        dailyStatuses = await Http.GetFromJsonAsync<List<DailyStatus>>("api/Covid/GetTexasDailyStats");
    }
}